<?xml version="1.0" encoding="utf-8"?>
<robot name="model" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- base link -->
  <link name="base_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1 1 1"/>
      </geometry>

    </visual>

  </link>

</robot>
