<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find robot_description)/urdf/AGV.urdf -urdf -model robot_description"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
